AutoROM.accept-rom-license==0.6.1
AutoROM==0.4.2
Babel==2.13.1
Brotli==1.1.0
ConfigArgParse==1.7
Cython==3.0.9
Faker==23.1.0
Farama-Notifications==0.0.4
Flask-Cors==4.0.0
Flask==2.2.2
GitPython==3.1.40
Jinja2==3.1.2
Js2Py==0.74
Keras-Preprocessing==1.1.2
Levenshtein==0.23.0
MailGw-Temporary-Email==0.0.2
Mako==1.3.2
Markdown==3.5.2
MarkupSafe==2.1.3
MouseInfo==0.1.3
Pearl==0.1.0
Pillow==10.1.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
PyExecJS==1.5.1
PyGetWindow==0.0.9
PyJWT==2.8.0
PyMsgBox==1.0.9
PyMuPDF==1.23.5
PyMuPDFb==1.23.5
PyOpenGL==3.1.7
PyPasser==0.0.5
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
PyWavefront==1.3.3
PyYAML==6.0.1
Pygments==2.17.2
RealtimeSTT==0.2.0
RocketSim==2.1.0a2
SQLAlchemy==2.0.21
Shimmy==0.2.1
SpeechRecognition==3.8.1
StrEnum==0.4.15
TwoCaptcha==0.0.1
Werkzeug==3.0.1
absl-py==2.1.0
accelerate==0.25.0
adagio==0.2.4
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
aiosmtplib==3.0.1
ale-py==0.8.1
alembic==1.13.1
altair==5.2.0
annotated-types==0.5.0
ansi2html==1.9.1
antlr4-python3-runtime==4.11.1
anyio==3.7.1
appdirs==1.4.4
arch==5.1.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-property==0.2.2
async-timeout==4.0.3
asyncio==3.4.3
asyncstdlib==3.10.9
atomicwrites==1.4.1
attrdict==2.0.1
attrs==23.1.0
autopage==0.5.2
av==12.2.0
backcall==0.2.0
banana-dev==6.3.0
bce-python-sdk==0.9.11
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.7.0
browser-cookie3==0.19.1
bs4==0.0.1
build==1.2.1
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.0
click==8.1.7
cliff==4.6.0
cloudpickle==3.0.0
cmaes==0.10.0
cmd2==2.4.3
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.1
comtypes==1.4.1
contourpy==1.2.0
courlan==1.1.0
cryptography==41.0.5
cssselect==1.2.0
cssutils==2.11.0
ctranslate2==4.3.1
curl-cffi==0.5.10
cycler==0.12.1
darts==0.20.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.14.2
dataclasses-json==0.6.1
dataclasses==0.6
datasets==2.20.0
dateparser==1.2.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.8
dnspython==2.6.1
docker-pycreds==0.4.0
docopt==0.6.2
duckduckgo-search==3.9.9
easyocr==1.7.1
enum34==1.1.10
et-xmlfile==1.1.0
etils==1.5.2
exceptiongroup==1.1.3
executing==2.0.1
fake-useragent==1.4.0
fastapi==0.104.1
faster-whisper==1.0.2
fastjsonschema==2.19.1
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.13.1
fire==0.6.0
flask-babel==4.0.0
flatbuffers==23.5.26
fonttools==4.49.0
frozenlist==1.4.0
fs==2.4.16
fsspec==2023.12.2
fugue-sql-antlr==0.2.0
fugue==0.8.7
future==1.0.0
fuzzywuzzy==0.18.0
g4f==0.1.9.1
gast==0.5.4
gitdb==4.0.11
glfw==2.7.0
google-auth-oauthlib==1.2.0
google-auth==2.28.1
google-pasta==0.2.0
gotrue==1.3.0
graphviz==0.20.1
greenlet==3.0.0
grpcio==1.62.0
gym-notices==0.0.8
gym==0.26.2
gymnasium==0.29.1
h11==0.14.0
h2==4.1.0
h5py==3.10.0
halo==0.0.31
holidays==0.44
hpack==4.0.0
htmldate==1.8.1
httpcore==1.0.2
httpx==0.25.2
huggingface-hub==0.23.4
humanfriendly==10.0
hyperframe==6.0.1
idna==2.10
idna==3.4
imageio==2.34.0
imgaug==0.4.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
intel-openmp==2021.4.0
intel-openmp==2024.0.2
ipython==8.12.3
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi==0.19.1
jieba3k==0.35.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema-specifications==2023.11.2
jsonschema==4.20.0
jupyter_client==8.6.2
jupyter_core==5.7.1
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jusText==3.0.1
keras==2.15.0
kiwisolver==1.4.5
langchain==0.0.309
langsmith==0.0.43
lazy_loader==0.4
libclang==16.0.6
libgen-api==1.0.1
lightgbm==4.3.0
lightning-utilities==0.10.1
llvmlite==0.42.0
lmdb==1.4.1
log-symbols==0.0.14
loguru==0.7.2
lxml==5.2.2
lxml_html_clean==0.1.1
lz4==4.3.2
markdown-it-py==3.0.0
marshmallow==3.20.1
matplotlib-inline==0.1.6
matplotlib==3.8.3
mdurl==0.1.2
mistune==3.0.2
mkl==2021.4.0
ml-dtypes==0.2.0
mmh3==4.0.1
mpmath==1.3.0
mujoco==3.1.4
multidict==6.0.4
multiprocess==0.70.16
mypy-extensions==1.0.0
names==0.3.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
newspaper3k==0.2.8
nfoursid==1.0.1
ninja==1.11.1.1
nltk==3.8.1
numba==0.59.0
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.18.1
open3d==0.18.0
opencv-contrib-python==4.6.0.66
opencv-python-headless==4.9.0.80
opencv-python==4.6.0.66
openpyxl==3.1.3
openwakeword==0.6.0
opt-einsum==3.3.0
optuna==2.10.1
outcome==1.3.0.post0
packaging==23.2
paddleocr==2.7.3
pandas==2.2.1
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.3
patsy==0.5.6
pbr==6.0.0
pdf2docx==0.5.8
pickleshare==0.7.5
pip-tools==7.4.1
pip==24.0
pipreqs==0.5.0
platformdirs==4.0.0
plotly==5.18.0
pluggy==1.3.0
pmdarima==2.0.4
postgrest-py==0.4.0
postgrest==0.13.0
premailer==3.10.0
prettytable==3.10.0
prompt-toolkit==3.0.43
property-cached==1.6.4
protobuf==4.25.1
psutil==5.9.7
pure-eval==0.2.2
pvporcupine==1.9.5
py-arkose-generator==0.0.0.2
py==1.11.0
pyDeprecate==0.3.1
pyarrow-hotfix==0.6
pyarrow==16.1.0
pyasn1-modules==0.3.0
pyasn1==0.5.1
pyclipper==1.3.0.post5
pycparser==2.21
pycryptodome==3.19.0
pycryptodomex==3.19.0
pydantic==2.4.2
pydantic_core==2.10.1
pydeck==0.8.1b0
pydub==0.25.1
pyjsparser==2.7.1
pymailtm==1.1.1
pyparsing==3.1.1
pyperclip==1.8.2
pyproject_hooks==1.1.0
pyreadline3==3.4.1
pytesseract==0.3.10
pytest==6.2.5
python-bidi==0.4.2
python-binance==1.0.16
python-dateutil==2.8.2
python-docx==1.1.2
python-http-client==3.3.7
pytorch-lightning==1.5.10
pytweening==1.2.0
pytz==2023.3.post1
pywin32==306
pywinauto==0.6.8
pyzmq==26.0.3
qpd==0.4.4
random-password-generator==2.2.0
random-username==1.0.2
rapidfuzz==3.5.2
rarfile==4.2
realtime-py==0.1.3
realtime==1.0.0
referencing==0.31.1
regex==2023.12.25
replicate==0.26.0
requests-file==2.1.0
requests-oauthlib==1.3.1
requests==2.31.0
requests==2.32.3
retrying==1.3.4
rfc3986==1.5.0
rich==13.7.0
rlgym-ppo==1.3.12
rlgym-sim==1.2.6
rlgym==1.2.2
rpds-py==0.13.2
rsa==4.9
safetensors==0.4.1
scikit-image==0.22.0
scikit-learn==1.0.2
scipy==1.11.3
scipy==1.12.0
seaborn==0.13.2
selenium==4.15.2
sendgrid==6.10.0
sentry-sdk==2.13.0
setproctitle==1.3.3
setuptools==69.1.1
sgmllib3k==1.0.0
shapely==2.0.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.5
spinners==0.0.24
sqlglot==22.2.1
stack-data==0.6.3
starkbank-ecdsa==2.2.0
starlette==0.27.0
statsforecast==1.7.3
statsmodels==0.13.2
stevedore==5.2.0
storage3==0.6.1
streamlit==1.29.0
stripe==7.5.0
supabase-py==0.0.2
supabase==2.0.3
supafunc==0.3.1
sympy==1.12
tbats==1.1.3
tbb==2021.13.0
tenacity==8.2.3
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboard==2.15.2
tensorflow-estimator==2.15.0
tensorflow-gpu==2.8.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.15.0
termcolor==2.4.0
textblob==0.18.0.post0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.2.0
tifffile==2024.5.22
tinycss2==1.3.0
tinysegmenter==0.3
tld==0.13
tldextract==5.1.2
tls-client==0.2.2
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.2.2
torch==2.3.1
torchaudio==2.2.2
torchaudio==2.3.1
torchmetrics==1.3.1
torchvision==0.17.2
torchviz==0.0.2
tornado==6.4
tqdm==4.66.4
trafilatura==1.10.0
traitlets==5.14.1
transformers==4.36.2
triad==0.9.5
trio-websocket==0.11.1
trio==0.23.1
typing-inspect==0.9.0
typing_extensions==4.12.1
tzdata==2023.3
tzlocal==5.1
ujson==5.9.0
undetected-chromedriver==3.5.4
urllib3==1.26.18
urllib3==2.0.5
utilsforecast==0.1.1
uvicorn==0.24.0.post1
validators==0.22.0
vboxapi==1.0
visualdl==2.5.3
waitress==2.1.2
wandb==0.17.7
watchdog==3.0.0
wcwidth==0.2.13
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.6.4
websockets==10.4
websockets==12.0
wheel==0.42.0
widgetsnbextension==4.0.9
win32-setctime==1.1.0
winocr==0.0.14
winrt-Windows.Media.Ocr==2.0.1
winrt-runtime==2.0.1
winsdk==1.0.0b10
wrapt==1.14.1
wsproto==1.2.0
xarray==2024.2.0
xxhash==3.4.1
yarg==0.1.9
yarl==1.9.2
youtube-transcript-api==0.6.2
zipp==3.17.0